envs/

Slurm/


Misc/specific_transformers_results

Misc/transformers_test_results

CMG_trial1/Models

CMG_trial1/slurm

CMG_trial1/src/configs/__pycache__

CMG_trial1/src/dataset/__pycache__

CMG_trial1/src/model/__pycache__

CMG_trial1/src/utils/__pycache__

Misc/transformers_specific_embeddings

Misc/embeddings_unfiltered

CMG_trial1/Results

CMG_trial1/Novel_Model_Final

Misc/Slurm

Misc/text_query_test_results

Misc/avvp_analysis_results

Misc/multimodal_csv_outputs

Misc/visualizations

Misc/visualizations_equal

Misc/visualizations_hier

Misc/visualizations_nohier

Misc/visualizations_hier_1

Misc/visualizations_nohier_1